* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Wrapper in csss */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}

.welcome-text {
    width: 400px;
}

.welcome_form input, .welcome_form button {
    display: block;
    width: 100%;
}

.welcome_form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #fff;
    color: lightgray;
    font-size: 30px;
    text-align: center;
}

.welcome_form button {
    font-size: 22px;
    padding: 20px 0;
    border: none;
    background-color: #efefef;
    border-radius: 10px;
    color: #845BB3;
    transition: 0.4s all;
    font-family: 'Montserrat', sans-serif;
}

.welcome_form button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.welcome_form input:focus, .welcome_form button:focus {
    outline: none;
}

.quiz {
    border-radius: 6px;
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: lightgrey;

}
.quiz_header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: lightgrey;
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.quiz_body {
    background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.quiz_user{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.quiz_timer{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 30px;
}

.option_group{
    list-style-type: none;
    margin: 30px 0;
}

.option{
    background-color: lightgrey;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 2px solid transparent;
}

.option:hover{
    cursor: pointer;
    border: 2px solid #845BB3;
    color: #845BB3;
}

.next_button{
    background-color: lightgrey;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 20px;
    transition: 0.4s all;
    outline: none;
}

.next_button:hover{
    background-color: white;
    cursor: pointer;
    color: #845BB3;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.active{
    background-color: #845BB3;
    color: #fff !important;
}


.username,
.user_point,
.user_times{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}